<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <label for="bhs">Bahasa</label>
        <select name="bahasa" id="bhs">
          <option value="javascript">JavaScript</option>
          <option value="php">PHP</option>
          <option value="java">Java</option>
          <option value="golang">Golang</option>
          <option value="python">Python</option>
          <option value="c#">C#</option>
          <option value="c++">C++</option>
          <option value="erlang">Erlang</option>
        </select>
        <input type="submit" value="Kirim" />
  </form>
</body>
</html>