<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 2</title>
    <link rel="stylesheet" href="../asset/style/style.css">
</head>
<body>

    <!-- Footer by Apri -->
    <footer>
        <div class="s-left">
            <img src="../asset/img/minerva-blue.png" alt="">
            <p>Kami berusaha menjangkau semua lapisan masyarakat yang layak untuk mendapatkan pendidikan dengan Kelas Offline yang akan kami buat gratis untuk anak-anak yang belum mendapatkan kesempatan untuk bersekolah.</p>
            <div class="jogja">DI Yogyakarta</div>
            <div class="jogja-1">Jl. Laksda Adisucipto No.Km 8,5, Kalongan, Maguwoharjo, Kecamatan Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</div>
        </div>
        <div class="s-right">
            <div class="kontak">Kontak Kami</div>
            <table>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>learnwminerva2021@gmail.com</td>
                </tr>
                <tr>
                    <td>Instagram</td>
                    <td>:</td>
                    <td>@learn.minerva_</td>
                </tr>
                <tr>
                    <td>Whatsapp</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <div class="btn-footer">
                <button class="chat">Chat</button>
                <p>or</p>
                <button class="another">Another</button>
            </div>
        </div>
    </footer>
    <div class="copyright">&copy;Copyright Kelompok 2 Genbox 2023</div>
</body>
</html>